<h3>{{viewTitle}}</h3>

<form action="/items" method="POST">
    <div class="form-group">
        <label>Item Name</label>
        <input type="text" class="form-control" name="ItemName" placeholder="Item Name">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="Description" placeholder="Description">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" name="Price" placeholder="Price">
    </div>
    <div class="form-group">
        <label>Counter</label>
        <input type="number" class="form-control" name="Counter" placeholder="Counter">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/items/list"><i class="fa fa-list-alt"></i>View All</a>
    </div>


</form>